<!DOCTYPE html>
<html>
<head>
  <title>Julysplurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
</head>
<body>
  <script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
  <canvas id="pixie" style="z-index : -1; "></canvas>
  <div class="container"></div>
  <header>
    <div class="col-xs-3">
      <link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet" type="text/css">
      <div class="stickercontainer">
        <div class="stickercrop"><div class="sticker"></div></div>
        <div class="foldshadowcrop"><div class="foldshadow"></div></div>
        <div class="foldcrop"><div class="fold"></div></div>
        <div class="text">
          July 
          <br />
          Splurty
        </div>
      </div>
    </div>
    <div class="col-xs-4 slogan">
      Splurting out unsolicited advice about night-time since 2016
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </header>
  <hr />

  <br class="clear" />


<%= yield %>

</body>
</html>
