<!DOCTYPE html>
<html>
<head>
  <title>Julysplurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
</head>
<body>
  <script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
  <canvas id="pixie" style="z-index : -1; "></canvas>
  <div class="container"></div>
  <header>
    <div class="col-xs-3">
      <link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet" type="text/css">
      <div class="stickercontainer">
        <%= link_to root_path do %>
          <div class="stickercrop"><div class="sticker"></div></div>
          <div class="foldshadowcrop"><div class="foldshadow"></div></div>
          <div class="foldcrop"><div class="fold"></div></div>
          <div class="text">
            July 
            <br />
            Splurty
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4 slogan">
      Splurting out unsolicited advice about night-time since 2016
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', new_quote_path, class: 'contribute' %>
      <%= link_to 'About', '#', class: 'about' %>
    </div>
  </header>
  <hr />

  <br class="clear" />

<div class="container">
  <%= yield %>
</div>



<div class="footer">
  <div class="container">
    <div class="col-xs-6">
      <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>     
    </div>
    <div class="col-xs-6 footer-blurb">
      Proudly hacked in London by <a href="http://thefirehoseproject.com">Marc</a><br />
      Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a>
    </div>
  </div>
</div>

</body>
</html>
